<!-- <form class="" ng-submit="signup()">
  <label>
    First Name
    <input type="text" name="first_name" ng-model="first_name">

  </label>
  <br>

  <label>
    Last Name
    <input type="text" name="last_name" ng-model="last_name">

  </label>
  <br>

  <label>
    email
    <input type="email" name="email" ng-model="email">

  </label>
  <br>

  <label>
    Password
    <input type="password" name="password" ng-model="password">

  </label>
  <br>

  <label>
    Confirm Password
    <input type="password" name="confirm_password" ng-model="confirm_password">

  </label>
  <br>
  <button type="submit">Sign Up</button>
</form> -->
<div class="image-responsive2" alt="Responsive image">
  <div class="textbox2" id="signup">
    SIGN UP AND BECOME A MEMBER!!!
  </div>
  <div class="login">
    <form id="login">
      <label>
        email
        <input name="name" ng-model="user.email">

      </label>
      <label>
        Password
        <input type="password" name="password" ng-model="user.password">

      </label>
      <button ng-click="login(user)">Login</button>
    </form>
  </div>
</div>
